.menu-class { 
  width: 256px;
  float: left;
  padding-bottom: 9999px;
  margin-bottom: -9999px;
}

.setting-content { 
  padding:  0 20px;
  padding-bottom: 9999px;
  margin-bottom: -9999px;
  overflow: hidden;
}

.user-setting { 
  overflow: hidden;
}